.log-header {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1em;
  padding-bottom: 0.6em;
  border-bottom: 2px groove;  
}

.log-label {
  font-size: 0.7em;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
}

.log-list {
  border-bottom: 1px groove;
}

.log-item {
  padding: 10%;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 0.6em;
  opacity: 0.8;   
}
