ion-content {
  --background: #FAFAFA;
}

ion-card {
  --background: #F0FEE5;
}
.align-center {
  text-align: center;
}

.moist-percent {
  text-align: center;
  font-size: small;
}

.align-right {
  display: flex;
  float: end;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.last-time-watered {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

ion-col {
  padding-bottom: 0;
}

p {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}

ion-progress-bar {
  height: 15px;
  border-radius: 20px;
  padding-top: 0;
  margin-top: 0;
}
ion-progress-bar::part(track) {
  background: #D9D9D9;
}

